{
  "presets": ["env", "stage-2"],

  "plugins":
  [
    "add-module-exports",
    ["module-resolver", {
      "root": ["."],
      "alias":
      {
      }
    }],
    "transform-runtime"
  ],

  "env":
  {
    "tjsdoc-dev":
    {
      "plugins":
      [
        "add-module-exports",
        ["module-resolver", {
          "root": [".", "../tjsdoc-runtime-common/", "../tjsdoc-babylon/"],
          "cwd": "babelrc",
          "alias":
          {
          }
        }],
        "transform-runtime"
      ]
    }
  }
}
